In [1]:
import pandas as pd

In [4]:
s = pd.Series(list('asdasdasdasdasdas'))

In [5]:
s

0     a
1     s
2     d
3     a
4     s
5     d
6     a
7     s
8     d
9     a
10    s
11    d
12    a
13    s
14    d
15    a
16    s
dtype: object

In [6]:
s.unique()

array(['a', 's', 'd'], dtype=object)

In [8]:
s.value_counts()

s    6
a    6
d    5
dtype: int64

In [10]:
dados = pd.read_csv('Dados/aluguel.csv', sep =';')

In [11]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [13]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

# Testando a contagem de Moedas na Copa do Mundo

In [15]:
# Suponha que estejamos testando as moedas que serão utilizadas por árbitros de futebol nas competições da Copa do Mundo. 
# Atualmente, estas moedas são personalizadas e utilizadas em certos momentos dos jogos para decidir, na sorte, uma disputa. 
# Nosso objetivo é verificar se as moedas que serão utilizadas nas competições não sejam viciadas.
# Para isso testes foram realizados com cinco moedas e os resultados foram os seguintes:

In [18]:
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [17]:
# Acima, temos o resultado de 50 lançamentos de cada moeda (m1, m2, m3, m4 e m5), 
# onde c representa a ocorrência do evento CARA e C representa a ocorrência do evento COROA.

In [27]:
import pandas as pd
eventos = { 
            'm1' : list(m1),
            'm2' : list(m2),
            'm3' : list(m3),
            'm4' : list(m4)
}
moedas = pd.DataFrame(eventos)
df = pd.DataFrame(data = ['Cara','Coroa'],
                       index = ['c','C'],
                       columns = ['Faces'])
for item in moedas :
    df = pd.concat([df,moedas[item].value_counts()], axis=1)

df

C:\Users\luanx\Anaconda2\envs\python_pandas\lib\site-packages\ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

   Faces  m1  m2  m3  m4
C  Coroa  25  24  31  27
c   Cara  25  26  19  23